

@media only screen and (max-width: 880px) {

	.wp-block-image {
	margin-bottom: 1em!important;
}
	.wpbtn {
		margin-top: -10em!important;
	}
	
}


@media only screen and (min-width: 750px) {
.wp-image-483 {
	margin-top: 6em!important;
}
	.wp-image-401 {
		margin-top: 2em!important;
	}
}


@media only screen and (max-width: 900px) {
		.wp-block-image {
	margin-bottom: 1em!important;
}
}
@media only screen and (min-width: 900px) {
		.wp-block-image {
	margin-bottom: -6em!important;
}
}

.woocommerce a.button, .back {
	background-color:  #546553;
	color: white;
}
.column90 {
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.price {
	font-size: 1em!important;
	margin-left: -0.2em;
}
.cart .button {
	margin-top: 1em!important;
	background-color: #546553!important;
	color: white;
}
.posted_in {
	margin-left: 1em;
	font-family: "Lato", sans-serif;
}

.gridfooter {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    width: 100%;
}
.leftline, .rightline {
    border-bottom: solid 1px black;
    width: 100%;
    margin-top: -1em;
}
.rightline {
	margin-left: 150%;
	margin-right: -10em;
}
@media only screen and (max-width: 480px) {
	.rightline {
	margin-left: 230%;
	margin-right: -10em;
}
	
}
@media only screen and (min-width: 770px) {
	.wp-image-723 {
		margin-top: 5em!important;
	}
}
@media only screen and (max-width:500px) {
	.rightfooterw  {
		margin-top: -5em!important;
	}
	.rightfooterw div div h3 {
		padding-bottom: 1em;
		text-align: left;
		margin-left: 2.2em!important;
	}
	.rightfooterw div div ul {
		margin-left: 1em!important;
		line-height: 1.5em;
		padding-bottom: 6em;
	}
	.leftfooterw h3 {
		
		text-align: left;
		margin-left: 2.2em!important;
	}
	.leftfooterw p {
		margin-left: 1.3em;
	}
	.leftfooterw .wp-block-contact-form-7-contact-form-selector {
		margin-left: -1.2em;
	}
}
@media only screen and (min-width: 500px) and (max-width: 900px) {
	.rightfooterw  {
		margin-top: -5em!important;
		padding-bottom: 4em;
	}
	.rightfooterw div div h3 {
		padding-bottom: 0.5em;
	}
	.rightfooterw div div ul {
		margin-left: -2.2em!important;
		line-height: 1.5em;
	}
	.leftfooterw h3 {
		margin-left: -2em;
	}
	.leftfooterw p {
		margin-left: -3.3em;
	}
	.leftfooterw .wp-block-contact-form-7-contact-form-selector {
		margin-left: -1.5em!important;
	}
}
@media only screen and (min-width: 900px) {
	.rightfooterw  {
		margin-top: -13em!important;
	}
	.rightfooterw div div h3 {
		padding-bottom: 1em;
	}
	.rightfooterw div div ul {
		margin-left: -1em!important;
		line-height: 1.5em;
	}
	.leftfooterw h3 {
		margin-left: 2em;
	}
	.leftfooterw p {
		margin-left: 1.3em;
	}
	.leftfooterw .wp-block-contact-form-7-contact-form-selector {
		margin-left: -1.2em;
	}
}

