
@media only screen and (max-width: 480px) {
	.rightline {
	margin-left: 230%;
	margin-right: -10em;
}
	
}
@media only screen and (min-width: 770px) {
	.wp-image-723 {
		margin-top: 5em!important;
	}
}
@media only screen and (max-width:500px) {
	.rightfooterw  {
		margin-top: -5em!important;
	}
	.rightfooterw div div h3 {
		padding-bottom: 1em;
		text-align: left;
		margin-left: 2.2em!important;
	}
	.rightfooterw div div ul {
		margin-left: 1em!important;
		line-height: 1.5em;
		padding-bottom: 6em;
	}
	.leftfooterw h3 {
		
		text-align: left;
		margin-left: 2.2em!important;
	}
	.leftfooterw p {
		margin-left: 1.3em;
	}
	.leftfooterw .wp-block-contact-form-7-contact-form-selector {
		margin-left: -1.2em;
	}
}
@media only screen and (min-width: 500px) and (max-width: 900px) {
	.rightfooterw  {
		margin-top: -5em!important;
		padding-bottom: 4em;
	}
	.rightfooterw div div h3 {
		padding-bottom: 0.5em;
	}
	.rightfooterw div div ul {
		margin-left: -2.2em!important;
		line-height: 1.5em;
	}
	.leftfooterw h3 {
		margin-left: -2em;
	}
	.leftfooterw p {
		margin-left: -3.3em;
	}
	.leftfooterw .wp-block-contact-form-7-contact-form-selector {
		margin-left: -1.5em!important;
	}
}
@media only screen and (min-width: 900px) {
	.rightfooterw  {
		margin-top: -13em!important;
	}
	.rightfooterw div div h3 {
		padding-bottom: 1em;
	}
	.rightfooterw div div ul {
		margin-left: -1em!important;
		line-height: 1.5em;
	}
	.leftfooterw h3 {
		margin-left: 2em;
	}
	.leftfooterw p {
		margin-left: 1.3em;
	}
	.leftfooterw .wp-block-contact-form-7-contact-form-selector {
		margin-left: -1.2em;
	}
}

